* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: bisque;
    border: none;
    color: darkgoldenrod;
    cursor: pointer;
}

.slider__button:hover {
    background-color:darksalmon;
    color:white;
    transition: 300ms;
}

.img-mass {
    display: none;
}

/* #canvas {
    width: 700px;
    height: 700px;
} */